name: Docker Publish

on:
  release:
    types: [created]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Extract version from tag
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Determine tags
        id: tags
        run: |
          VERSION="${{ steps.version.outputs.VERSION }}"
          TAGS="${{ secrets.DOCKER_USER }}/kinboard:${VERSION}"

          if [[ "${{ github.event.release.prerelease }}" == "true" ]]; then
            TAGS="${TAGS},${{ secrets.DOCKER_USER }}/kinboard:pre-release"
          else
            TAGS="${TAGS},${{ secrets.DOCKER_USER }}/kinboard:latest"
          fi

          echo "TAGS=${TAGS}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.tags.outputs.TAGS }}
